hosts
hosts.bak*
/project/cache/cit_rail_index

/core
/virtualenv
/node_modules
/haystack_index

.DS_Store
*.pyc
*.pid
*.sock
*.sql

.hg
.idea
.sass-cache/
local.sqlite3

/ftp
/media
/public
/webstats

# fileadmin and one lonely cms file
/project/media/files
/project/media/admin
/project/media/cms
/project/media/debug_toolbar
/project/media/filebrowser
/project/media/multilingual
/project/media/tinymce
/project/media/pdf_thumbs
/project/media/cms_page_media
